<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">Seabattle</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/users']">Users online</a>
      </li>
      <li class="nav-item" outerLinkActive="active">
        <a class="nav-link" [routerLink]="['/battlearea']">Battlearea</a>
      </li>
    </ul>

    <div *ngIf="loggedIn()">
      <a class="text-light">
        Welcome {{authService.decodeToken?.sub| titlecase}}!
      </a>
      <button class="btn btn-success my-2 my-sm-0" (click)="logout()">Logout</button>
    </div>

    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" name="username" type="text" placeholder="Username" required [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" name="password" type="password" placeholder="Password" required  [(ngModel)]="model.password">
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>
